body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.float1{
  float: left;
  width: 250px;
  height: auto;
  padding: 10px 10px 10px 10px;
}
.float2{
  float: right;
width: 250px;
height: auto;
padding: 10px 10px 10px 10px;
}
